{% extends 'base.html' %}
{% load static %}

{% block title %}{{object.name}}{% endblock %}

{% block page %}{{object.name}} Detail View{% endblock %}

{% block content %}

    <h2>{{object.name}} <span class="author">by {{object.author.name}}</span></h2>
    <h3>Ingredients</h3>
    
    <ul>
    {% for ingredient in object.ingredients.all %}
        <li>{{ingredient.ingredient.name}}, <span class="italic">{{ingredient.quantity}}</span></li>
    {% endfor %}
    </ul>
    
    <h4>Created On: {{object.created_on}}</h4>
    <h4>Updated On: {{object.updated_on}}</h4>

    <h4><a href="/recipes/list">Go back to Recipe Book</a></h4>

{% endblock %}